@media only screen and (min-width:48rem){

    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto 1fr ;
    }

    .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    
    }

    .icons img{
    width: auto;
    height: 120%;
    padding: 0.5rem;
    }

}

@media (max-width: 767px) {
  .app-layout {
    grid-template-columns: 1fr;
  }
}
